name: Build Wheels

on:
  push:
    branches:
      - main
      - test-builds
  release:
    types: [created]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}-${{ matrix.platform_id }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macos-latest, windows-2016]
        bitness: [32, 64]
        include:
          # Run 32 and 64 bit version in parallel for Windows
          - os: windows-2016
            bitness: 64
            platform_id: win_amd64
          - os: windows-2016
            bitness: 32
            platform_id: win32
          - os: ubuntu-18.04
            bitness: 64
            platform_id: manylinux_x86_64
          - os: macos-latest
            bitness: 64
            platform_id: macosx_x86_64
        exclude:
          - os: macos-latest
            bitness: 32
          - os: ubuntu-18.04
            bitness: 32
    env:
      CIBW_BUILD: cp36-${{ matrix.platform_id }} cp37-${{ matrix.platform_id }} cp38-${{ matrix.platform_id }} cp39-${{ matrix.platform_id }}
      CIBW_SKIP: pp* cp35
      CIBW_BEFORE_BUILD_LINUX: "source packing/build_pango.sh && pip install cython && cd manimpango && cythonize cmanimpango.pyx -3 -k -f && cd ../ && pip install ."
      CIBW_BEFORE_BUILD_MACOS: "source packing/build_pango_mac.sh && pip install cython && cd manimpango && cythonize cmanimpango.pyx -3 -k -f && cd ../ && pip install . && pkg-config --libs pango"
      CIBW_BEFORE_BUILD_WINDOWS: "pip install cython && python packing/download_dlls.py && cd manimpango && cythonize cmanimpango.pyx -3 -k -f && cd ../ && pkg-config --libs pango && pip install ."
      CIBW_ENVIRONMENT_WINDOWS: "PKG_CONFIG_PATH='C:\\cibw\\vendor\\lib\\pkgconfig'"
      CIBW_ENVIRONMENT_MACOS: "PKG_CONFIG_PATH='/Users/runner/pangobuild/lib/pkgconfig'"
      CIBW_REPAIR_WHEEL_COMMAND_WINDOWS: python packing/inject-dlls.py {wheel} {dest_dir} C:\cibw\vendor\bin
      CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
      CIBW_TEST_REQUIRES: pytest Cython
      CIBW_TEST_COMMAND: "bash {project}/packing/test_wheels.sh {project}"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.7"

      - name: Install cibuildwheel
        env:
          event_name: ${{ github.event_name }}
        continue-on-error: true
        shell: bash
        run: |
          python -m pip install cibuildwheel==1.11.0
          echo "$event_name"

      - name: Build wheels(Windows)
        if: runner.os == 'windows'
        run: |
          $ErrorActionPreference = 'Stop'
          $env:PATH="$env:PATH;C:\cibw\pkg-config\bin"
          $env:PKG_CONFIG_PATH="C:\cibw\vendor\lib\pkgconfig"
          Copy-Item packing/LICENSE.bin .
          Rename-Item LICENSE.bin LICENSE.win32
          python -m cibuildwheel --output-dir wheelhouse

      - name: Build wheels (Non-Windows)
        if: runner.os != 'windows'
        run: |
          cp packing/LICENSE.bin .
          python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ runner.os }}-${{ matrix.platform_id }}
      - name: Publish Non-Linux (Release)
        if: github.event_name == 'release' && runner.os != 'Linux'
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          pip install twine
          twine upload wheelhouse/*.whl
      - name: Install Dependency
        if: github.event_name == 'release' && runner.os == 'Linux'
        run: pip install requests
      - name: Get Upload URL
        id: create_release
        if: github.event_name == 'release' && runner.os == 'Linux'
        shell: python
        env:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          tag_act: ${{ github.ref }}
        run: |
          import requests
          import os
          ref_tag = os.getenv('tag_act').split('/')[-1]
          access_token = os.getenv('access_token')
          headers = {
              "Accept":"application/vnd.github.v3+json",
              "Authorization": f"token {access_token}"
          }
          url = f"https://api.github.com/repos/ManimCommunity/manimpango/releases/tags/{ref_tag}"
          c = requests.get(url,headers=headers)
          upload_url=c.json()['upload_url']
          print(f"::set-output name=upload_url::{upload_url}")
          print(f"::set-output name=tag_name::{ref_tag[1:]}")
      - name: Upload Release Asset
        id: upload-release
        if: github.event_name == 'release' && runner.os == 'Linux'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: wheelhouse/ManimPango-${{ steps.create_release.outputs.tag_name }}-cp38-cp38-manylinux2014_x86_64.whl
          asset_name: ManimPango-${{ steps.create_release.outputs.tag_name }}-cp38-cp38-manylinux2014_x86_64.whl
          asset_content_type: application/zip
  build_sdist:
    name: Source distribution
    runs-on: ubuntu-latest
    if: github.event_name== 'release'
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Build Source Distribution
        if: ${{  github.event_name== 'release' && runner.os == 'Linux' }}
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          sudo apt install libcairo2-dev pkg-config python3-dev
          sudo apt-get install libpango1.0-dev
          pip install twine
          python setup.py sdist
          twine upload dist/*

      - name: Store artifacts
        uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz
          name: manimpango.tar.gz
      - name: Install Dependency
        run: pip install requests
      - name: Get Upload URL
        id: create_release
        shell: python
        env:
          access_token: ${{ secrets.GITHUB_TOKEN }}
          tag_act: ${{ github.ref }}
        run: |
          import requests
          import os
          ref_tag = os.getenv('tag_act').split('/')[-1]
          access_token = os.getenv('access_token')
          headers = {
              "Accept":"application/vnd.github.v3+json",
              "Authorization": f"token {access_token}"
          }
          url = f"https://api.github.com/repos/ManimCommunity/manimpango/releases/tags/{ref_tag}"
          c = requests.get(url,headers=headers)
          upload_url=c.json()['upload_url']
          print(f"::set-output name=upload_url::{upload_url}")
          print(f"::set-output name=tag_name::{ref_tag[1:]}")
      - name: Upload Release Asset
        id: upload-release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/ManimPango-${{ steps.create_release.outputs.tag_name }}.tar.gz
          asset_name: ManimPango-${{ steps.create_release.outputs.tag_name }}.tar.gz
          asset_content_type: application/gzip
  test_wheels_linux: # TODO: Check for i386 builds also
    needs: [build_wheels]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container: ["python:3.8"]
    name: Test Wheels Using Docker Images
    container: ${{matrix.container}}
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: wheels-Linux-manylinux_x86_64
          path: "wheelhouse"
      - run: |
          ls wheelhouse
          python -m pip install --no-index --find-links wheelhouse manimpango
          python -c "import manimpango"

  success:
    needs: [build_wheels, test_wheels_linux]
    runs-on: ubuntu-latest
    name: Build Wheels Sucessfully
    steps:
      - name: Success
        run: echo Build Wheels Sucessfully
